---
- name: "{{ module.name }} | Fix configure/RELEASE to include RELEASE.local"
  ansible.builtin.lineinfile:
    path: "{{ epics_install_path }}/{{ module.id }}-{{ module.version }}/configure/RELEASE"
    regexp: '^\s*-include\s+\$\(TOP\)/RELEASE.local'
    line: "-include $(TOP)/../RELEASE.local"
  become: true

- name: "{{ module.name }} | Add configuration to configure/CONFIG_SITE"
  ansible.builtin.blockinfile:
    path: "{{ epics_install_path }}/{{ module.id }}-{{ module.version }}/configure/CONFIG_SITE"
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    block: |
      WITH_ZLIB = YES
      WITH_TIFF = YES
      WITH_JPEG = YES
      WITH_HDF5 = YES
      WITH_PVA = YES
      XML2_INCLUDE += /usr/include/libxml2
      {% if is_debian %}
      HDF5_INCLUDE  = /usr/include/hdf5/serial/
      HDF5_LIB      = /usr/lib/x86_64-linux-gnu/hdf5/serial/
      {%- endif %}
  become: true

- name: "{{ module.name }} | Ensure iocBoot directory exists"
  ansible.builtin.file:
    path: "{{ epics_install_path }}/{{ module.id }}-{{ module.version }}/iocBoot"
    state: directory
    mode: '0755'
  become: true

- name: "{{ module.name }} | Common plugins st.cmd snippet"
  ansible.builtin.template:
    src: "{{ playbook_dir }}/roles/m-areadetector/templates/commonPlugins.cmd.j2"
    dest: "{{ epics_install_path }}/{{ module.id }}-{{ module.version }}/iocBoot/commonPlugins.cmd"
  become: true

- name: "{{ module.name }} | Common plugins autoSaveRestore configuration"
  ansible.builtin.template:
    src: "{{ playbook_dir }}/roles/m-areadetector/templates/commonPlugin_settings.req.j2"
    dest: "{{ epics_install_path }}/{{ module.id }}-{{ module.version }}/iocBoot/commonPlugin_settings.req"
  become: true
