---
m_p4p_modules:
  - id: p4p
    name: "p4p"
    version: "4.2.0"
    url: "https://github.com/epics-base/p4p/archive/refs/tags/4.2.0.tar.gz"
    release_var: "P4P"
    release_sortkey: "10"
    required_debs:
      - python3-dev
      - python3-numpy
      - python3-nose2
      - python-dev-is-python3
      - cython3
      - python3-setuptools
    required_rpms:
      - python3-devel
      - python3-numpy
      - python3-nose2
      - python3-Cython
    enable_repos:
      - crb
    pre_hook: "{{ playbook_dir }}/roles/m-p4p/tasks/p4p_prep.yml"
    args: -j {{ ansible_facts.processor_vcpus }}
