---
- name: "{{ module.name }} pre-build hook | Prepare extras installation dir"
  file:
    path: "/opt/opcua"
    state: directory
    mode: '0755'
  become: true

- name: "{{ module.name }} pre-build hook | Download the open62541 client SDK"
  get_url:
    url: "https://github.com/open62541/open62541/archive/refs/tags/v1.3.15.tar.gz"
    dest: "/tmp/open62541-1.3.15.tar.gz"

- name: "{{ module.name }} pre-build hook | Extract open62541 client SDK"
  unarchive:
    src: "/tmp/open62541-1.3.15.tar.gz"
    dest: "/opt/opcua"
    owner: root
    group: root
    remote_src: true
    extra_opts:
      - --transform
      - "s|^[^/]*|open62541|" # normalize source path
  become: true

- name: "{{ module.name }} pre-build hook | Prepare open62541 build dir"
  file:
    path: "/opt/opcua/open62541/build"
    state: directory
    mode: '0755'
  become: true

- name: "{{ module.name }} pre-build hook | Build open62541 (cmake)"
  ansible.builtin.command:
    chdir: "/opt/opcua/open62541/build"
    cmd: cmake .. -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_TYPE=RelWithDebInfo -DUA_ENABLE_ENCRYPTION=OPENSSL
  become: true

- name: "{{ module.name }} pre-build hook | Build open62541 (make)"
  ansible.builtin.command:
    cmd: make {{ module.args | default('') }} install
    chdir: "/opt/opcua/open62541/build"
  become: true

- name: "{{ module.name }} pre-build hook | Download the demo server"
  get_url:
    url: "https://github.com/epics-training/opcua-support/releases/download/v1.0/server_demo.tar.gz"
    dest: "/opt/opcua/server_demo.tar.gz"
  become: true

- name: "{{ module.name }} pre-build hook | Download the UaExpert client"
  get_url:
    url: "https://github.com/epics-training/opcua-support/releases/download/v1.0/ua_expert.AppImage"
    dest: "/opt/opcua/uaexpert.AppImage"
    mode: "555"
  become: true

- name: "{{ module.name }} pre-build hook| Ensure configure directory exists"
  ansible.builtin.file:
    path: "{{ epics_install_path }}/{{ module.id }}-{{ module.version }}/configure"
    state: directory
    mode: '0755'
  become: true

- name: "{{ module.name }} pre-build hook | CONFIG_SITE.local"
  ansible.builtin.template:
    src: "{{ playbook_dir }}/roles/m-opcua/templates/opcua_CONFIG_SITE.local.j2"
    dest: "{{ epics_install_path }}/{{ module.id }}-{{ module.version }}/configure/CONFIG_SITE.local"
  become: true
