# A configuration to be copied to local.yml when running CI
# It has a few differences from everything.yml (see comments inline)
#
# For use by CI running in containers

epics_modules_build: true
catrust: false
epics_tools: true
oac_tree: true
archiver_appliance: true
docker: true
# the attempt to make docker outside docker work is a failure because the
# compose file tries to mount host folders it cannot see. For the moment
# disable buesky build in CI
bluesky: false

m_base: true
m_p4p: true
m_pvaPy: true
m_seq: true
m_asyn: true
m_areadetector: true
m_autosave: true
m_opcua: true
m_seq: true
m_stream: true

# tell ansible that we are in a container instead of VM
in_container: true
