# A configuration to be copied to local.yml in order to
# test all of the roles and modules
#
# For use in fully testing VMs

catrust: false
epics_tools: true
oac_tree: true
archiver_appliance: true
docker: true
bluesky: true

m_base: true
m_p4p: true
m_pvaPy: true
m_seq: true
m_areadetector: true
m_opcua: true
m_stream: true
