---
- name: Set up training VM
  hosts: local

  vars:
    # default configuration file if not specified on the CLI
    setup: "local"

  # Load the configuration based on the 'setup' variable
  vars_files:
    - "configs/{{ setup }}.yml"

  roles:
    - role: initial_setup
      tags: initial_setup
      when: initial_setup | default(false) | bool

    - role: catrust
      tags: catrust
      when: catrust | default(false) | bool

    - role: common #  <- mandatory
      tags: common

    - role: m-base
      tags: m-base
      when: m_base | default(false) | bool

    - role: m-areadetector
      tags: m-areadetector
      when: m_areadetector | default(false) | bool

    - role: m-opcua
      tags: m-opcua
      when: m_opcua | default(false) | bool

    - role: m-p4p
      tags: m-p4p
      when: m_p4p | default(false) | bool

    - role: m-pvaPy
      tags: m-pvaPy
      when: m_pvaPy | default(false) | bool

    - role: m-seq
      tags: m-seq
      when: m_seq | default(false) | bool

    - role: m-stream
      tags: m-stream
      when: m_stream | default(false) | bool

    - role: docker
      tags: docker
      when: docker | default(false) | bool

    - role: bluesky
      tags: bluesky
      when: bluesky | default(false) | bool
      become: true
      become_user: "{{ dev_user}}"

    - role: epics-tools
      tags: epics_tools
      when: epics_tools | default(false) | bool

    - role: oac-tree
      tags: oac_tree
      when: oac_tree | default(false) | bool

    - role: archiver-appliance
      tags: archiver_appliance
      when: archiver_appliance | default(false) | bool

  environment: "{{ proxy_env }}"
