---
- name: Set up training VM
  hosts: local

  vars:
    # default configuration file if not specified on the CLI
    setup: "local"

  # Load the configuration based on the 'setup' variable
  vars_files:
    - "configs/{{ setup }}.yml"

  tasks:
    - name: Initial setup
      include_role:
        name: initial_setup
      when: initial_setup | default(false) | bool

    - name: CA trust
      include_role:
        name: catrust
      when: catrust | default(false) | bool

    - name: Common setup
      include_role:
        name: common

    - name: EPICS Base
      include_role:
        name: m-base
      when: m_base | default(false) | bool

    - name: ASYN
      include_role:
        name: m-asyn
      when: m_asyn | default(false) | bool

    - name: Autosave
      include_role:
        name: m-autosave
      when: m_autosave | default(false) | bool

    - name: SScan
      include_role:
        name: m-sscan
      when: m_sscan | default(false) | bool

    - name: Calc
      include_role:
        name: m-calc
      when: m_calc | default(false) | bool

    - name: Busy
      include_role:
        name: m-busy
      when: m_busy | default(false) | bool

    - name: AreaDetector
      include_role:
        name: m-areadetector
      when: m_areadetector | default(false) | bool

    - name: OPC UA
      include_role:
        name: m-opcua
      when: m_opcua | default(false) | bool

    - name: P4P
      include_role:
        name: m-p4p
      when: m_p4p | default(false) | bool

    - name: pvaPy
      include_role:
        name: m-pvaPy
      when: m_pvaPy | default(false) | bool

    - name: Sequencer
      include_role:
        name: m-seq
      when: m_seq | default(false) | bool

    - name: StreamDevice
      include_role:
        name: m-stream
      when: m_stream | default(false) | bool

    - name: Docker
      include_role:
        name: docker
      when: docker | default(false) | bool

    - name: Bluesky
      include_role:
        name: bluesky
      when: bluesky | default(false) | bool
      become: true
      become_user: "{{ dev_user}}"

    - name: EPICS Tools
      include_role:
        name: epics-tools
      when: epics_tools | default(false) | bool

    - name: OAC Tree
      include_role:
        name: oac-tree
      when: oac_tree | default(false) | bool

    - name: Archiver Appliance
      include_role:
        name: archiver-appliance
      when: archiver_appliance | default(false) | bool

  environment: "{{ proxy_env }}"
