---
# oac-tree role

- name: "Create directories"
  ansible.builtin.file:
    path: "{{ oactree_install_path }}/{{ item }}"
    state: directory
  loop:
    - .flag
    - oac-tree.sh.d
    - "{{ distro.lib_dirname }}/oac-tree/plugins"
    - src
  become: true

- name: "Install required DEB dependencies"
  ansible.builtin.apt:
    name: "{{ required_debs }}"
    state: present
  become: true
  when: is_debian

- name: "Configure Raven repository"
  ansible.builtin.dnf:
    name: "https://pkgs.sysadmins.ws/el9/base/x86_64/raven-release.el9.noarch.rpm"
    disable_gpg_check: true
    state: present
  become: true
  when: is_redhat

- name: "Install required RPM dependencies"
  ansible.builtin.dnf:
    name: "{{ required_rpms }}"
    enablerepo:
      - epel
    state: present
  become: true
  when: is_redhat

- name: "Check global rebuild flag"
  stat:
    path: "{{ oactree_install_path }}/.flag/REBUILD"
  register: oactree_rebuild_flag

- name: "Clear global rebuild flag"
  ansible.builtin.file:
    path: "{{ oactree_install_path }}/.flag/REBUILD"
    state: absent
  become: true

- name: "Add library/plugin/dependency locations to linker configuration"
  ansible.builtin.lineinfile:
    path: /etc/ld.so.conf.d/oac-tree.conf
    create: true
    line: "{{ item }}"
  become: true
  loop:
    - "{{ oactree_install_path }}/{{ distro.lib_dirname }}"
    - "{{ oactree_install_path }}/{{ distro.lib_dirname }}/oac-tree/plugins"
    - "/opt/epics/base-7.0.9/lib/linux-{{ ansible_facts['architecture'] }}"
    - "/opt/epics/pvxs-1.3.1/lib/linux-{{ ansible_facts['architecture'] }}"

- name: "Check bundle source directory"
  stat:
    path: "{{ oactree_install_path }}/src/oac-tree-bundle"
  register: oactree_bundle_dir

- name: "Clear bundle build flag"
  ansible.builtin.file:
    path: "{{ oactree_install_path }}/.flag/oac-tree-bundle"
    state: absent
  become: true
  when: oactree_rebuild_flag.stat.exists == true or oactree_bundle_dir.stat.exists == false

- name: "Check bundle build flag"
  stat:
    path: "{{ oactree_install_path }}/.flag/oac-tree-bundle"
  register: oactree_bundle_flag

- name: "Set global rebuild flag if needed"
  ansible.builtin.file:
    path: "{{ oactree_install_path }}/.flag/REBUILD"
    state: touch
    modification_time: preserve
    access_time: preserve
  become: true
  when: oactree_bundle_flag.stat.exists == false

- name: "Clone oac-tree-bundle repository"
  ansible.builtin.git:
    repo: "{{ oactree_bundle_repo }}"
    dest: "{{ oactree_install_path }}/src/oac-tree-bundle"
    version: "{{ oactree_bundle_version }}"
    recursive: true
  become: true
  when: oactree_bundle_flag.stat.exists == false

- name: "Create build directory"
  ansible.builtin.file:
    path: "{{ oactree_install_path }}/src/oac-tree-bundle/build"
    state: directory
  become: true
  when: oactree_bundle_flag.stat.exists == false

- name: "Run cmake"
  command:
    chdir: "{{ oactree_install_path }}/src/oac-tree-bundle/build"
    cmd: "cmake -DCMAKE_INSTALL_PREFIX={{ oactree_install_path }} -DCMAKE_PREFIX_PATH={{ oactree_install_path }} .."
  environment:
    EPICS_BASE: /opt/epics/base-7.0.9
    EPICS_HOST_ARCH: "linux-{{ ansible_facts['architecture'] }}"
    PVXS_DIR: /opt/epics/pvxs-1.3.1
    CMAKE_PREFIX_PATH: "{{ oactree_install_path }}"
  become: true
  when: oactree_bundle_flag.stat.exists == false

- name: "Run make (build and install everything - this may take a while)"
  command: make -j {{ ansible_facts.processor_vcpus }} -C {{ oactree_install_path }}/src/oac-tree-bundle/build
  register: build_result
  environment:
    EPICS_BASE: /opt/epics/base-7.0.9
    EPICS_HOST_ARCH: "linux-{{ ansible_facts['architecture'] }}"
    PVXS_DIR: /opt/epics/pvxs-1.3.1
    CMAKE_PREFIX_PATH: "{{ oactree_install_path }}"
  become: true
  when: oactree_bundle_flag.stat.exists == false

- name: "Update linker configuration"
  ansible.builtin.command: ldconfig
  become: true
  when: oactree_bundle_flag.stat.exists == false and build_result.rc | default(0) == 0

- name: "Create oac-tree.sh fragment"
  copy:
    content: "PATH={{ oactree_install_path }}/bin:$PATH\n"
    dest: "{{ oactree_install_path }}/oac-tree.sh.d/00-oac-tree"
  become: true

- name: "Update (re-assemble) oac-tree.sh"
  assemble:
    src: "{{ oactree_install_path }}/oac-tree.sh.d"
    dest: "/etc/profile.d/oac-tree.sh"
  become: true

- name: "Create bundle build flag"
  copy:
    content: ""
    dest: "{{ oactree_install_path }}/.flag/oac-tree-bundle"
  become: true
  when: build_result.rc | default(0) == 0 and oactree_bundle_flag.stat.exists == false
